@media (max-width: 1024px) {
  :root {
    --container-padding: 100px;
  }

  .is-desktop-only {
    display: none;
  }

  .is-no-desktop {
    display: block;
  }

  .header__not-desk {
    padding: 23px 0 19px;
    background-color: var(--optional_color);
  }
  
  .header__subtop {
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    flex: 0 0 112px;
  }

  .header__link-list {
    margin-right: 32px;
  }

  .header__playbar {
    margin-right: 0;
  }

  .nav {
    margin-left: -5px;
  }

  .playbar {
    padding-top: 3px;
    padding-bottom: 13px;
  }

  .playbar__item {
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 17px;
    padding-bottom: 0;
  }

  .hero__inner {
    padding-top: 63px;
    padding-bottom: 50px;
  }

  .hero__descr {
    margin-bottom: 20px;
  }

  .hero__img {
    flex: 0 1 295px;
    background-image: url('../img/microphone1024.png');
  }

  .broadcasts__left {
    flex-basis: var(--cell-basis-4);
  }

  .broadcasts__right {
    flex-basis: var(--cell-basis-8);
  }

  .broadcasts__list {
    padding-top: 12px;
  }

  .broadcasts__item {
    flex-basis: var(--cell-basis-6);
  }

  .broadcasts__item:nth-child(n+4) {
    margin-top: 0;
  }

  .broadcasts__item:nth-child(n+3) {
    margin-top: var(--gutter);
  }

  .guests__descr {
    flex-basis: var(--cell-basis-8);
    margin-bottom: 49px;
  }

  .guests__item {
    flex-basis: var(--cell-basis-4);
  }

  .guests__name {
    margin-bottom: 6px;
  }

  .guests__bio {
    margin-bottom: 31px;
  }

  .playlists__left {
    flex-basis: var(--cell-basis-12);
    margin-bottom: 20px;
  }

  .playlists__right {
    flex-basis: var(--cell-basis-12);
  }

  .playlists__inner {
    margin-bottom: 42px;
  }

  .playlists__filter {
    margin-bottom: 0px;
  }
  
  .playlists__list {
    padding-top: 11px;
  }

  .playlists__item {
    flex-basis: var(--cell-basis-4);
  }
  
  .playlists__item:nth-child(n+5) {
    margin-top: 0;
  }
  
  .playlists__item:nth-child(n+4) {
    margin-top: var(--gutter);
  }

  .warning {
    padding-bottom: 6px;
  }

  .warning__copy {
    margin-bottom: 12px;
  }

  .filter__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
  }

  .filter__item {
    flex: 1 1 auto;
  }

  .filter__item:not(:last-child) {
    margin-bottom: 26px;
  }

  .filter__item:nth-child(-n+4) {
    flex: 0 1 160px;
    margin-right: 7px;
  }

  .filter__item:nth-child(4n+2) {
    order: 1;
  }

  .filter__item:nth-child(4n+3) {
    order: 2;
  }

  .filter__item:nth-child(4n+4) {
    order: 3;
  }

  .filter__item:nth-child(4n) {
    margin-bottom: 0;
  }
  
  .playlist-card {
      flex-direction: row;
  }

  .playlist-card__cover {
    min-height: 112px;
  }

  .playlist-card__img {
    height: auto;
    min-height: 112px;
    width: 112px;
  }

  .playlist-card__country {
    left: 0;
    right: auto;
  }

  .playlist-card__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
  }

  .promo {
    padding-bottom: 94px;
  }

  .promo__cover,
  .promo__content {
    flex-basis: var(--cell-basis-6);
  }

  .promo__img {
    background-position: center top 123px;
  }

  .about-us__info {
    flex-basis: var(--cell-basis-8);
  }
  
  .about-us__cover {
    flex-basis: var(--cell-basis-4);
  }

  .about-us__img {
    background: url('../img/svg/dawn.svg') no-repeat right center;
  }

  .about-us__entity.about-us__carousel {
    margin-bottom: 38px;
  }

  .about-us__form {
    flex-basis: var(--cell-basis-12);
  }

  .carousel__btn {
    top: 31.5%;
  }

  .carousel__btn--left {
    left: -50px;
  }

  .carousel__btn--right {
    right: -50px;
  }
}

@media (max-width: 768px) {
  :root {
    --container-padding: 114px;
  }

  .is-768 {
    display: block;
  }

  .is-768-only {
    display: block;
  }

  .is-more-768 {
    display: none;
  }

  .header__top {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .burger {
    display: flex;
  }

  .header__nav {
    position: absolute;
    background-color: var(--backdrop_color);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-left: var(--container-padding);
    padding-top: 106px;
    padding-right: 403px;
    margin-left: 0;
    z-index: 99;
    background-color: var(--responsive_color_shade_2);
  }
  
  .nav__list {
    flex-wrap: wrap;
  }

  .header__bottom {
    padding-top: 18px;
    padding-bottom: 20px;
    padding-right: 2px;
  }

  .header__link-list {
    margin-right: 24px;
  }

  .playbar {
    padding: 0;
  }

  .playbar__list {
    display: none;
  }

  .hero__img {
    display: none;
  }

  .broadcasts {
    padding-bottom: 30px;
  }

  .podcasts__item {
    flex-basis: var(--cell-basis-12);
  }

  .podcasts__item:nth-child(n+3) {
    margin-top: 0;
  }

  .podcasts__item:not(:first-child) {
    margin-top: var(--gutter);
  }

  .broadcasts__left {
    flex-basis: var(--cell-basis-12);
  }

  .broadcasts__inner {
    flex-wrap: wrap;
  }

  .broadcasts__right {
    flex-basis: var(--cell-basis-12);
  }

  .broadcasts__filter {
    max-width: 255px;
    margin-bottom: 0;
  }

  .broadcasts__list {
    padding-bottom: 60px;
  }

  .filter__name {
    margin-bottom: 9px;
  }

  .select {
    margin-bottom: 34px;
  }

  .archive--768 {
    display: flex;
    justify-content: center;
    padding-top: 31px;
    border-top: 1px solid var(--optional_color);
  }

  .archive__cover {
    flex: 0 0 70px;
    min-height: 96px;
    margin-right: 20px;
  }

  .archive__inner {
    flex: 0 1 255px;
  }

  .archive__btn {
    margin-top: 0;
  }

  .archive__descr {
    margin-top: 8px;
  }

  .guests__descr {
    flex-basis: var(--cell-basis-12);
  }

  .guest__category-list {
    flex-basis: var(--cell-basis-12);
    margin-bottom: 51px;
  }

  .guests__card {
    flex-basis: var(--cell-basis-12);
  }

  .guests__item:not(:nth-last-child(-n+4)) {
    margin-bottom: 26px;
  }

  .guests__img {
    margin-bottom: 7px;
  }

  .guests__bio {
    max-width: 400px;
    margin-bottom: 32px;
  }

  .playlists__left {
    flex-basis: var(--cell-basis-12);
    margin-bottom: 39px;
  }

  .filter__item:not(:nth-child(4n)) {
    margin-bottom: 41px;
  }

  .playlists__item {
    flex-basis: var(--cell-basis-6);
  }

  .playlists__item:nth-child(n+4) {
    margin-top: 0;
  }

  .playlists__item:nth-child(n+3) {
    margin-top: var(--gutter);
  }

  .promo {
    padding-top: 54px;
  }

  .promo__cover {
    flex-basis: var(--cell-basis-12);
    height: 474px;
    margin-bottom: 51px;
  }

  .promo__content {
    flex-basis: var(--cell-basis-12);
  }

  .promo__img {
    background-position: center;
  }

  .about-us__entity {
    flex-basis: var(--cell-basis-12);
  }

  .about-us__descr.text--bold {
    line-height: 1.5;
  }

  .about-us__cover {
    position: relative;
    height: 114px;
  }

  .about-us__img {
    position: absolute;
    left: -100px;
    width: calc(100% + 100px);
    background: url('../img/svg/spring.svg') no-repeat center left / contain, 
                url('../img/svg/dawn.svg') no-repeat right 15px center / contain;
  }

  .carousel__btn {
    top: 29.5%;
  }

  .about-us__entity.about-us__carousel {
    margin-bottom: 30px;
  }

  .form__field-label {
    flex-basis: var(--cell-basis-12);
  }

  .form__entity:not(:last-child) {
    margin-bottom: 27px;
  }

  .footer {
    padding-top: 91px;
  }
  
  .footer__inner {
    flex-direction: column;
    align-items: center;
  }

  .footer__left {
    margin-right: 0;
    margin-bottom: 77px;
  }
  
  .footer__social {
    align-self: center;
  }
  
  .footer__icon {
    width: 30px;
    height: 30px;
  }

  .footer__right {
    flex: 1 1 auto;
  }

  .footer__list {
    justify-content: space-between;
  }

  .footer__item:nth-last-child(n+4) {
    margin-bottom: 26px;
  }

  .social__item:not(:last-child) {
    margin-right: 27px;
  }

  .footer__top {
    margin-bottom: 90px;
  }

  .footer__top::before {
    bottom: -90px;
  }
}

  @media (max-width: 320px) {
  :root {
    --container-padding: 32px;
    --title_font-size: 24px;
    --base_font-size: 14px;
    --erlanged_font-size: 16px;
  }

  .is-no-mobile {
    display: none;
  }

  .is-mobile {
    display: block;
  }

  .is-768-only {
    display: none;
  }

  .main-title {
    font-size: 32px;
  }

  .section {
    padding: 54px 0;
  }

  .section__text {
    font-size: var(--base_font-size);
    line-height: 1.55;
  }

  .btn {
    padding: 14px 42px;
  }

  .btn--small {
    min-width: auto;
    min-height: auto;
    padding: 7px 23px;
    font-size: var(--erlanged_font-size);
  }

  .icon--big {
    width: 34px;
    height: 34px;
    padding: 9px;
}

  .header__not-desk {
    padding: 9px 0;
  }

  .header__top {
    padding: 8px 0;
  }

  .header__bottom {
    padding: 13px 0;
  }

  .header__subtop {
    align-items: center;
  }

  .header__logo {
    flex: 0 1 88px;
    margin-right: 10px;
  }

  .header__search {
    margin-right: 0;
  }

  .header__link-list {
    display: none;
  }

  .header__bottom {
    justify-content: center;
  }

  .playbar__top {
    display: flex;
  }

  .hero {
    padding: 30px 0 40px;
  }

  .hero__inner {
    margin-right: 0;
    padding-top: 12px;
    padding-bottom: 0;
  }

  .hero__title {
    margin-bottom: 7px;
  }

  .podcasts__title {
    margin-bottom: 19px;
  }

  .soundbar {
    flex-direction: column;
  }

  .podcasts__list {
    margin-bottom: 32px;
  }

  .podcasts__item:nth-child(n+5) {
    display: none;
  }

  .podcasts__btn {
    padding-left: 28px;
    padding-right: 28px;
}

  .soundbar__cover {
    flex-basis: auto;
    min-height: 72px;
  }

  .soundbar__content {
    padding: 16px;
  }

  .soundbar__descr {
    font-size: 12px;
  }

  .soundbar__date {
    top: 0;
    bottom: auto;
  }

  .soundbar__btn {
    flex-basis: 34px;
  }

  .soundbar__action-list {
    padding: 5px 35px 6px;
  }

  .soundbar__action:not(:last-child) {
    margin-right: 34px;
  }

  .action__btn {
    font-size: 12px;
  }

  .broadcasts__title {
    margin-bottom: 19px;
  }
  
  .filter__name {
    margin-bottom: 6px;
    font-size: 12px;
  }

  .select {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .select__inner {
    padding: 8px 10px;
  }

  .card {
    padding: 59px 5px 10px 10px;
  }

  .card__cover {
    height: 50px;
  }

  .card__title {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .card__descr {
    margin-bottom: 12px;
    font-size: 9px;
  }

  .card__link {
    padding-left: 2px;
    margin-left: -3px;
    font-size: 12px;
  }

  .archive {
    padding: 30px var(--container-padding);
  }

  .archive__cover {
    flex-basis: 77px;
    min-height: 102px;
    margin-right: 13px;
  }

  .archive__inner {
    display: flex;
    flex-direction: column;
  }

  .archive__descr {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .archive__btn {
    width: auto;
    padding-left: 17px;
    padding-right: 17px;
    align-self: start;
    order: 1;
  }

  .broadcasts {
    padding-bottom: 0;
  }

  .broadcasts__list {
    padding-bottom: 30px;
  }

  .guests__descr-title {
    margin-bottom: 0px;
  }

  .guests__descr {
    margin-bottom: 30px;
  }

  .guest__category-list {
    margin-bottom: 30px;
  }

  .guests__list {
    padding: 18px 0 21px;
  }

  .guests__item {
    padding-right: 30px;
    flex-basis: var(--cell-basis-6);
  }

  .guests__item:not(:nth-last-child(-n+4)) {
    margin-bottom: 0;
  }

  .guests__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 28px;
  }

  .guests__category-item:last-child {
    display: none;
  }

  .guests__img {
    margin-bottom: 10px;
  }

  .guests__name {
    margin-bottom: 9px;
    font-size: 20px;
  }

  .guests__bio {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .guests__more-btn {
    padding-left: 13px;
    padding-right: 13px;
  }

  .social__item .icon--middle {
    width: 30px;
    height: 30px;
  }

  .accordion__header {
    padding: 12px 0;
  }

  .accordion__trigger {
    padding: 6px;
    width: 27px;
    height: 27px;
  }

  .playlists {
    padding-bottom: 50px;
  }

  .playlists__left {
    max-width: 100%;
    margin-bottom: 18px;
  }

  .playlists__title {
    margin-bottom: 21px;
  }

  .playlists__inner {
    margin-bottom: 32px;
  }

  .warning {
    padding-top: 28px;
    padding-bottom: 0;
  }

  .warning__text {
    font-size: 12px;
    line-height: 16px;
  }

  .warning__copy {
    line-height: 22px;
    margin-bottom: 6px;
  }

  .filter__list {
    position: relative;
    max-width: calc(100vw - var(--container-padding));
    padding: 0;
    padding-right: var(--container-padding);
    flex-wrap: nowrap;
    overflow: visible;
    overflow-x: auto;
  }

  .filter__item:nth-child(n) {
    flex: 0 0 auto;
    min-width: 113px;
    margin: 0;
    margin-right: 15px;
    order: 0;
  }

  .filter__item:last-child {
    margin-right: 0;
  }

  .radio-btn__descr {
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border: 2px solid var(--responsive_color);
    color: var(--responsive_color);
    font-size: 16px;
    line-height: 1;
    border-radius: 77px;
    transition: background-color 200ms linear, color 200ms linear;
  }

  .radio-btn__entity:checked + .radio-btn__descr {
    color: var(--backdrop_color);
    background-color: var(--responsive_color);
  }

  .radio-btn__descr::before {
    display: none;
  }

  .playlist-card {
    flex-direction: column;
  }

  .playlist-card__bottom {
    padding: 9px;
  }

  .playlist-card__cover {
    min-height: 113px;
  }

  .playlist-card__title {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .playlist-card__descr {
    font-size: 9px;
  }

  .promo__cover {
    height: 225px;
    margin-bottom: 37px;
  }

  .promo__title {
    margin-bottom: 40px;
  }

  .promo__title::before {
    height: 19px;
  }

  .promo__descr {
    line-height: 1.6;
  }

  .promo__descr:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .promo__descr:last-of-type {
    margin-bottom: 10px;
  }

  .promo__price {
    font-size: 24px;
    margin-bottom: 18px;
  }

  .promo__btn {
    padding: 12px 10px;
  }

  .about-us__entity:not(:last-child) {
    margin-bottom: 30px;
  }

  .guest-card__img {
    margin-bottom: 7px;
  }

  .guest-card__title {
    padding-right: 15px;
    margin-bottom: 3px;
  }

  .guest-card__link {
    font-size: 14px;
    line-height: 18px;
  }

  .guest-card__descr {
    font-size: 12px;
    line-height: 16px;
  }

  .about-us__cover {
    display: none;
  }

  .carousel {
    width: 380px;
  }

  .carousel__btn {
    display: none;
  }

  .form__field--area {
    height: 149px;
    padding: 15px 20px;
    border-radius: 20px;
  }

  .form__field--text {
    padding: 16px 23px;
    border-radius: 40px;
  }

  .form__entity:not(:last-child) {
    margin-bottom: 29px;
  }

  .form__entity.form__submit-wrapper {
    margin-bottom: 17px;
  }

  .form__assent {
    font-size: 9px;
  }

  .footer {
    padding-top: 51px;
  }

  .footer__top {
    margin-bottom: 20px;
  }

  .footer__top::before {
    bottom: -20px;
  }

  .footer__left {
    margin: 0;
    padding-bottom: 54px;
  }

  .footer__right {
    margin: 0 -32px;
    padding: 28px var(--container-padding);
    background-color: var(--base_color);
  }

  .footer__item:nth-child(n) {
    flex: 0 1 44%;
    margin: 0;
    margin-bottom: 20px;
  }

  .footer__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .footer__link {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }
}