:root {
  /* colors vaiables */
  --base_color: #121723;
  --base_color_light: #292E39;
  --backdrop_color: #FFFFFF;
  --description_color: #A1A6B4;
  --optional_color: #E6E8EC;
  --optional_40_color: rgba(230, 232, 236, 0.4);
  --responsive_color: #6D31EE;
  --responsive_color_shade: #AA9DFA;
  --responsive_color_shade_2: #D2D5DD;
  --responsive_color_accent: #4F28A5;
  --alarm_color: #D52B1E;
  --promo_color: #F0D288;
  --promo_color_accent: #BB973E;

  /* sizes variables */
  --base_font-size: 16px;
  --erlanged_font-size: 20px;
  --title_font-size: 48px;
  
  /* for grid */
  --container_size: 1140px;
  --container-padding: 15px;
  --columns: 12;
  --gutter: 30px;

  /* base-style */
  font-family: 'Muller', sans-serif;
  font-size: var(--base_font-size);
  line-height: 1;
  color: var(--base_color);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

img {
  width: 100%;
}

.visually-hidden {
  position: absolute !important;
  padding: 0 !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* titles */
.main-heading {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
}

.main-heading__brand {
  font-weight: normal;
  font-style: italic;
}

.heading {
  margin: 0;
  font-weight: normal;
  font-size: var(--title_font-size);
  line-height: 1;
}

/* Text */
.text {
  margin: 0;
  color: var(--description_color);
}


.text_bold {
  font-weight: bold;
}

.text__italic {
  font-style: italic;
}

/* Section */
.section__text {
  font-size: 20px;
  line-height: 1.6;
}

/* Grid */
.container {
  max-width: var(--container_size);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--container-padding) * -1);
}

.grid_size_10 {
  --columns: 10;
}

.grid_size_9 {
  --columns: 9;
}

.grid_size_8 {
  --columns: 8;
}

.grid__cell {
  flex-grow: 0;
  padding: 0 calc(var(--gutter) / 2);
}

.grid__cell_size_1 {
  flex-basis: calc(100% / var(--columns));
}

.grid__cell_size_2 {
  flex-basis: calc(100% / var(--columns) * 2);
}

.grid__cell_size_3 {
  flex-basis: calc(100% / var(--columns) * 3);
}

.grid__cell_size_4 {
  flex-basis: calc(100% / var(--columns) * 4);
}

.grid__cell_size_5 {
  flex-basis: calc(100% / var(--columns) * 5);
}

.grid__cell_size_6 {
  flex-basis: calc(100% / var(--columns) * 6);
}

.grid__cell_size_7 {
  flex-basis: calc(100% / var(--columns) * 7);
}

.grid__cell_size_8 {
  flex-basis: calc(100% / var(--columns) * 8);
}

.grid__cell_size_9 {
  flex-basis: calc(100% / var(--columns) * 9);
}

.grid__cell_size_10 {
  flex-basis: calc(100% / var(--columns) * 10);
}

.grid__cell_size_11 {
  flex-basis: calc(100% / var(--columns) * 11);
}

.grid__cell_size_12 {
  flex-basis: 100%;
}

/* Buttons */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 22px 51px;
  border: 3px solid currentColor;
  border-radius: 40px;
  font-weight: 500;
  font-size: var(--erlanged_font-size); 
  color: var(--responsive_color);
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 200ms linear, background-color 200ms linear, border-color 200ms linear;
}

.btn_small {
  min-height: 40px;
  min-width: 104px;
  padding: 8px 17px;
  border-width: 2px; 
  border-radius: 77px;
  font-size: 16px;
}

.btn_colored {
  border-color: var(--responsive_color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color);
}

.btn_monochrome {
  color: var(--base_color);
}

.btn_light {
  color: var(--responsive_color_shade);
}

.btn:focus {
  border-color: var(--responsive_color);
  background-color: var(--responsive_color_shade);
  color: var(--backdrop_color);
}

.btn_monochrome:focus {
  border-color: var(--base_color);
  color: var(--base_color);
}

.btn_light:focus {
  border-color: var(--responsive_color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color);
}

.btn:hover {
  border-color: var(--responsive_color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color);
}

.btn_colored:hover {
  border-color: var(--responsive_color_shade);
  background-color: var(--responsive_color_shade);
}

.btn_monochrome:hover {
  border-color: var(--base_color);
  background-color: var(--base_color);
  color: var(--backdrop_color);
}

.btn_light:hover {
  border-color: var(--responsive_color_shade);
  color: var(--backdrop_color);
  background-color: var(--responsive_color_shade);
}

.btn:active {
  border-color: var(--responsive_color_accent);
  background-color: var(--responsive_color_accent);
  color: var(--backdrop_color);
}

.btn__inner {
  display: flex;
}

.btn__icon {
  margin-right: 6px;
}

.btn__icon_archive {
  stroke: currentColor;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  color: var(--description_color);
  background-color: transparent;
  cursor: pointer;
  transition: color 200ms linear, background-color 200ms linear, border-color 200ms linear;
  fill: currentColor;
}

.icon_stroke {
  fill: none;
  stroke: currentColor;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon_small {
  width: 15px;
  height: 15px;
}

.icon_middle {
  width: 20px;
  height: 20px;
}

.icon_big {
  padding: 11px;
  border: 2px solid currentColor;
  border-radius: 100%;
  width: 42px;
  height: 42px;
}

.icon:focus {
  color: var(--responsive_color_shade);
}

.icon:hover {
  color: var(--responsive_color);
}

.icon_dark-bg:focus {
  color: var(--description_color);
  background-color: var(--responsive_color);
}

.icon_dark-bg:hover {
  color: var(--responsive_color_shade);
}

.icon:active {
  color: var(--responsive_color_accent);
}

.icon_dark-bg:active {
  border-color: var(--responsive_color_shade);
  color: var(--backdrop_color);
  background-color: var(--responsive_color_shade);
}


/* links */
.link {
  padding: 3px 5px 1px;
  text-decoration: none;
  color: inherit;
  line-height: 1;
  transition: color 200ms linear, background-color 200ms linear;
}

.link:hover {
  color: var(--responsive_color);
}

.link:focus {
  color: var(--backdrop_color);
  background-color: var(--responsive_color_shade);
}

.link:active {
  color: var(--responsive_color_accent);
  background: none;
}

.link_inline {
  position: relative;
  padding: 3px;
  color: var(--responsive_color);
}

.link_inline::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  content: '';
  background-color: var(--responsive_color);
  transform: scaleX(0);
  transform-origin: 100%;
  transition: transform 300ms ease-in-out;
}

.link_inline_hover::before,
.link_inline:hover::before {
  transform-origin: 0;
  transform: scaleX(1);
}

.link_inline_focus,
.link_inline:focus {
  color: var(--backdrop_color);
  background-color: var(--responsive_color_shade);
}

.link_inline_active,
.link_inline:active {
  color: var(--responsive_color_accent);
  background-color: transparent;
}

.link_inline_active::before,
.link_inline:active::before {
  background-color: var(--responsive_color_accent);
  transform-origin: 0;
  transform: scaleX(1);
}

.link_arrow {
  padding-left: 3px;
  padding-right: 34px;
  font-style: italic;
  background: url('../img/svg/arrow-1-default.svg') 94% center no-repeat;
}

.link_arrow_hover,
.link_arrow:hover {
  background: url('../img/svg/arrow-1-hover.svg') right center no-repeat;
}

.link_arrow_focus,
.link_arrow:focus {
  background: var(--responsive_color_shade) url('../img/svg/arrow-1-focus.svg') 94% center no-repeat;
}

.link_arrow_active,
.link_arrow:active {
  background: transparent url('../img/svg/arrow-1-active.svg') right center no-repeat;
}
/*
/* buttons */


/* Сейчас 322 строки */
/* .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 22px 51px;
  border: 3px solid var(--responsive_color);
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
  color: var(--backdrop_color);
  background-color: var(--responsive_color);
  cursor: pointer;
  transition: color 200ms linear, background-color 200ms linear, border-color 200ms linear;
}

.btn:hover {
  border-color: var(--responsive_color_shade);
  background-color: var(--responsive_color_shade);
}

.btn:focus {
  border-color: var(--responsive_color_accent);
  background-color: var(--responsive_color_shade);
}

.btn:active {
  border-color: var(--responsive_color_accent);
  background-color: var(--responsive_color_accent);
}

.btn_secondary {
  border-color: var(--responsive_color);
  color: var(--responsive_color);
  background-color: transparent;
}

.btn_secondary:hover {
  border-color: var(--responsive_color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color);
}

.btn_secondary:focus {
  border-color: var(--responsive_color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color_shade);
}

.btn_secondary:active {
  border-color: var(--responsive_color_accent);
  color: var(--backdrop_color);
  background-color: var(--responsive_color_accent);
}

.btn_light-secondary {
  border-color: var(--responsive_color_shade);
  color: var(--responsive_color_shade);
  background-color: transparent;
}

.btn_light-secondary:hover {
  color: var(--base-color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color_shade);
}

.btn_light-secondary:focus {
  border-color: var(--responsive_color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color);
}

.btn_light-secondary:active {
  border-color: var(--responsive_color_accent);
  color: var(--backdrop_color);
  background-color: var(--responsive_color_accent);
}

.btn_size_s {
  padding: 10px;
  font-size: 16px;
}

.btn_special {
  border-color: var(--base_color);
  color: var(--base_color);
  background-color: transparent;
}

.btn_special:hover {
  border-color: var(--base_color);
  color: var(--backdrop_color);
  background-color: var(--base_color);
}

.btn_special:focus {
  border-color: var(--base_color);
  color: var(--base_color);
  background-color: var(--responsive_color_shade);
}

.btn_special:active {
  border-color: var(--responsive_color_accent);
  color: var(--backdrop_color);
  background-color: var(--responsive_color_accent);
}

.btn_special svg {
  stroke: var(--base_color);
  margin-right: 5px;
  transition: stroke 200ms linear;
}

.btn_special:hover svg {
  stroke: var(--backdrop_color);
}

.btn_special:focus svg {
  stroke: var(--base_color);
}

.btn_special:active svg {
  stroke: var(--backdrop_color);
}

.btn_promo {
  padding-left: 10px;
  padding-right: 10px;
  border-color: var(--promo_color);
  color: var(--promo_color);
  background-color: transparent;
}

.btn_promo:hover {
  border-color: var(--promo_color);
  color: var(--base_color);
  background-color: var(--promo_color);
}

.btn_promo:focus {
  border-color: var(--promo_color);
  color: var(--base_color);
  background-color: var(--promo_color_accent);
}

.btn_promo:active {
  border-color: var(--promo_color_accent);
  color: var(--base_color);
  background-color: var(--promo_color_accent);
}

.btn_promo .ya-img {
  margin-right: 6px;
  transform: translateY(-2px);
}

.btn_promo .ya-img__circle {
  fill: var(--promo_color);
  transition: fill 200ms linear;
}

.btn_promo .ya-img__line {
  fill: var(--base_color);
  transition: fill 200ms linear;
}

.btn_promo:hover .ya-img__circle {
  fill: var(--base_color);
}

.btn_promo:hover .ya-img__line {
  fill: var(--promo_color);
}

.btn_promo:focus .ya-img__circle {
  fill: var(--promo_color);
}

.btn_promo:focus .ya-img__line {
  fill: var(--base_color);
}

.btn_promo:active .ya-img__circle {
  fill: var(--base_color);
}

.btn_promo:active .ya-img__line {
  fill: var(--promo_color_accent);
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.icon-btn svg {
  fill: currentColor;
  transition: fill 200ms linear;
}

.icon-btn_size_l {
  width: 42px;
  height: 42px;
  border: 2px solid currentColor;
  color: var(--description_color);
  border-radius: 50%;
  transition: border-color 200ms linear, background-color 200ms linear;
}

.icon-btn_size_l:hover {
  color:  var(--responsive_color);

}

.icon-btn_size_l:focus {
  color: var(--responsive_color_shade);
}

.icon-btn_size_l:active {
  border-color: var(--responsive_color_accent);
  background-color: var(--responsive_color_accent);
}

.icon-btn_size_l:active svg {
  fill: var(--backdrop_color);
}

.icon-btn_size_m {
  width: 20px;
  height: 20px;
}

.icon-btn_size_s {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--description_color);
}

.icon-btn_size_s:hover {
  background-color: var(--responsive_color);
}

.icon-btn_size_s:focus {
  background-color: var(--responsive_color_shade);
}

.icon-btn_size_s:active {
  background-color: var(--responsive_color_accent);
}

.icon-btn_close {
  border-width: 3px;
}

.icon-btn_close:active {
  background-color: transparent;
}

.icon-btn_close svg {
  stroke: var(--description_color);
  transition: stroke 200ms linear;
}

.icon-btn_close:hover svg {
  stroke: var(--responsive_color);
}

.icon-btn_close:focus svg {
  stroke: var(--responsive_color_shade);
}

.icon-btn_close:active svg {
  stroke: var(--responsive_color_accent);
}

.icon-btn_arrow:hover {
  border-color: var(--responsive_color_shade);
}

.icon-btn_arrow:focus {
  border-color: var(--description_color);
  background-color: var(--responsive_color_accent);
}

.icon-btn_arrow:active {
  border-color: var(--responsive_color_shade);
  background-color: var(--responsive_color_shade);
}

.icon-btn_arrow svg {
  fill: none;
  stroke: var(--description_color);
  transition: stroke 200ms linear;
}

.icon-btn_arrow:hover svg {
  fill: none;
  stroke: var(--responsive_color_shade);
}

.icon-btn_arrow:focus svg {
  fill: none;
  stroke: var(--responsive_color_shade);
}

.icon-btn_arrow:active svg {
  fill: none;
  stroke: var(--backdrop_color);
}

.icon-btn_revert {
  transform: rotate(180deg);
}*/
/* radio-btn */
.radio-btn {
  cursor: pointer;
}

.radio-btn__descr {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.radio-btn__descr::before {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 13px;
  border: 1px solid var(--description_color);
  border-radius: 50%;
  content: '';
  transform: translateY(-2px);
}

.radio-btn__descr:hover::before {
  border-color: var(--responsive_color);
}

.radio-btn__entity {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-btn__entity:focus+.radio-btn__descr::before {
  border-color: var(--responsive_color);
  background-color: var(--responsive_color_shade_2);
}

.radio-btn__entity:checked+.radio-btn__descr::before {
  border: 8px solid var(--responsive_color);
  background-color: transparent;
}
/* navigations */
.nav {
  flex: 0 1 657px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  padding: 4px 10px;
  font-size: 20px;
}
/* Search */
.search {
  display: inline-flex;
}

.search__field {
  display: none;
  width: 278px;
  padding: 3px 0;
  border: none;
  border-bottom: 1px solid var(--responsive_color);
}

.search__btn {
  padding: 0;
  border: none;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

.search__btn * {
  stroke: var(--responsive_color);
  transition: stroke 200ms linear;
}

.search__btn:hover *,
.search__btn:focus * {
  stroke: var(--responsive_color_shade);
}

.search__btn:active * {
  stroke: var(--responsive_color_accent);
}

.search_open .search__field {
  display: block;
}

/* playbar */
.playbar {
  padding: 9px 0;
}

.playbar__top {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: var(--thrid_40_color);
  border: 1px solid var(--optional_color);
}

.playbar__open-btn {
  margin-right: 5px;
}

.playbar__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--responsive_color);
  transform: translateY(2px);
}

.playbar__list {
  display: flex;
}

.playbar__item {
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 42px;
}

.playbar__item {
  position: relative;
  border-left: 1px solid var(--responsive_color_shade_2);
  margin-right: 6px;
}

.playbar__item:last-child {
  border-right: 1px solid var(--responsive_color_shade_2);
  margin-right: 0;
}

.playbar__play-btn {
  align-self: center;
  margin-right: 10px;
}

.playbar__play-btn::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
}

.playbar__descr {
  margin: 0;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 1;
  color: var(--description_color);
}

.playbar__name {
  margin: 0;
  font-size: 16px;
}

/* soundbar */
.soundbar {
  position: relative;
  display: flex;
  background-color: var(--backdrop_color);
}

.soundbar__cover {
  width: 112px;
  min-height: 140px;
  background: var(--base_color_light) no-repeat center / cover;
}

.soundbar__inner {
  flex: 1 1 auto;
}

.soundbar__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 30px 23px;
  border-bottom: 1px solid var(--optional_color);
}

.soundbar__info {
  display: flex;
  flex-direction: column;
}

.soundbar__length {
  margin: 0;
  margin-bottom: 8px;
  font-size: 12px;
  order: -1;
}

.soundbar__title {
  margin: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
}

.soundbar__descr {
  margin: 0;
  color: var(--description_color);
}

.soundbar__date {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
  padding: 3px 6px;
  background-color: var(--optional_color);
}

.soundbar__btn {
  align-self: center;
}

.soundbar__btn::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.soundbar__action-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 23px;
}

.soundbar__action:not(:last-child) {
  margin-right: 26px;
}

/* Card */
.card {
  min-width: 255px;
  position: relative;
}

.card__bottom {
  padding: 19px 15px;
  border: 1px solid var(--optional_color);
}

.card__cover {
  font-size: 0;
  line-height: 0;
}

.card__img {
  font-size: 16px;
  line-height: 1;
  object-fit: cover;
}

.card__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}

.card__descr {
  margin: 0;
  margin-bottom: 19px;
  font-size: 12px;
  color: var(--description_color);
}

.card__link::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  transition: background-color 200ms linear;
}

.card__link:hover::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.card__link:focus::before {
  background-color: transparent;
  outline: 1px solid var(--responsive_color);
  outline-offset: 6px;
}

.card__link:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

/* Playlist-card */
.playlist-card {
  position: relative;
}

.playlist-card__link::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
}

.playlist-card__cover {
  position: relative;
  font-size: 0;
  line-height: 0;
}

.playlist-card__cover::after,
.playlist-card__cover::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  opacity: 0;
  transition: opacity 200ms linear;
}

.playlist-card__cover::before {
  background: url('../img/svg/play-full.svg') center no-repeat;
  z-index: 100;
}

.playlist-card__link:hover .playlist-card__cover::before,
.playlist-card__link:focus .playlist-card__cover::before {
  opacity: 1;
}

.playlist-card__cover::after {
  background-color: var(--base_color);
  z-index: 99;
}

.playlist-card__link:hover .playlist-card__cover::after,
.playlist-card__link:focus .playlist-card__cover::after {
  opacity: 0.8;
}

.playlist-card__img {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}

.playlist-card__bottom {
  padding: 15px;
  border: 1px solid var(--optional_color);
  transition: background-color 200ms linear, border-color 200ms linear;
}

.playlist-card__link:hover+.playlist-card__bottom {
  border-color: var(--responsive_color);
  background-color: var(--responsive_color);
}

.playlist-card__link:focus+.playlist-card__bottom {
  border-color: var(--responsive_color_shade);
  background-color: var(--responsive_color_shade);
}

.playlist-card__link:active+.playlist-card__bottom {
  border-color: var(--responsive_color_accent);
  background-color: var(--responsive_color_accent);
}

.playlist-card__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  transition: color 200ms linear;
}

.playlist-card__descr {
  margin: 0;
  font-size: 12px;
  color: var(--description_color);
  transition: color 200ms linear;
}

.playlist-card__link:hover+.playlist-card__bottom .playlist-card__title,
.playlist-card__link:hover+.playlist-card__bottom .playlist-card__descr {
  color: var(--backdrop_color);
}

.playlist-card__link:focus+.playlist-card__bottom .playlist-card__title,
.playlist-card__link:focus+.playlist-card__bottom .playlist-card__descr {
  color: var(--base_color);
}

.playlist-card__link:active+.playlist-card__bottom .playlist-card__title,
.playlist-card__link:active+.playlist-card__bottom .playlist-card__descr {
  color: var(--backdrop_color);
}

.playlist-card__country {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  background-color: var(--base_color);
}
/* guest-card */
.guest-card {
  position: relative;
  margin: 0;
}

.guest-card__img {
  margin-bottom: 27px;
}

.guest-card__title {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  color: var(--backdrop_color);
}

.guest-card__descr {
  margin: 0;
  line-height: 1.5;
  color: var(--description_color);
}

/* Filter */
.filter__inner {
  display: flex;
  flex-direction: column;
}

.filter__name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 16px;
  color: var(--description_color);
}

.filter__group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__list {
  padding: 3px;
}

.filter__item:not(:last-child) {
  margin-bottom: 20px;
}
/* accordeon */
.accordeon__visible {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
  border-top: 1px solid var(--description_color);
  border-bottom: 1px solid var(--description_color);
}

.accordeon__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}

.accordeon__hidden {
  display: none;
  padding: 30px 0;
}

.accordeon__btn::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
}

.accordeon_opened .accordeon__hidden {
  display: block;
}
/* Country */
.country {
  height: 12px;
  width: 16px;
}

.country_rus {
  background: url('../img/svg/rus.svg') no-repeat center / contain;
}

.country_gbr {
  background: url('../img/svg/gbr.svg') no-repeat center / contain;
}

.country_usa {
  background: url('../img/svg/usa.svg') no-repeat center / contain;
}

/* warning */
.warning {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--responsive_color_shade_2);
  padding: 38px 0;
}

.warning__text {
  line-height: 22px;
}

.warning__copy {
  margin-bottom: 6px;
}

.warning__age-restrict {
  width: 30px;
  height: 30px;
  padding: 7px 5px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid var(--description_color);
  border-radius: 100px;
  overflow: hidden;
}

/* Action */
.action__count {
  transition: color 200ms linear;
}

.action__btn {
  position: relative;
  padding: 2px 2px 0 22px;
  color: var(--description_color);
}

.action__btn:hover {
  color: var(--responsive_color);
}

.action__btn:focus {
  background-color: var(--responsive_color_shade);
  color: var(--backdrop_color);
}

.action__btn:active {
  background-color: inherit;
  color: var(--responsive_color_accent);
}

.action__btn::before,
.action__icon
 {
  position: absolute;
  left: 2px;
  top: 3px;
  width: 13px;
  height: 13px;
  content: '';
  background: transparent center no-repeat;
}

.action__btn:active .action__icon {
  display: none;
}

.action__btn_play:active:before {
  background-image: url('../img/svg/play-action-dark.svg');
}

.action__btn_like:active::before {
  background-image: url('../img/svg/like-dark.svg');
}

.action__btn_share:active::before {
  background-image: url('../img/svg/share-dark.svg');
}

/* Header */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 18px;
}

.header__logo {
  flex: 0 0 160px;
  margin-right: 70px;
}

.header__nav {
  margin-right: auto;
}

.header__search {
  margin-right: 24px;
}

.header__login-btn {
  min-width: 104px;
}

.header__bottom-wpapper {
  border-top: 1px solid var(--optional_color);
  border-bottom: 1px solid var(--optional_color);
}

.header__bottom {
  display: flex;
  align-items: center;
}

.header__link-list {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: 48px;
}

.header__playbar {
  margin-right: 52px;
}

.age-restriction {
  padding: 8px;
  align-self: stretch;
  background-color: var(--optional_color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.age-restriction__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
  color: var(--optional_color);
  border-radius: 100px;
  background-color: var(--backdrop_color);
}

/* Hero section */
.hero {
  padding: 30px 0 40px;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__inner {
  flex: 0 1 630px;
  margin-right: 10px;
  padding-top: 66px;
  padding-bottom: 54px;
}

.hero__img {
  flex: 0 1 354px;
  background: transparent url('../img/microphone.png') no-repeat center / contain;
}

.hero__heading {
  margin-bottom: 14px;
}

.hero__descr {
  margin: 0;
  line-height: 1.5;
  margin-bottom: 44px;
}

/* Podacsts section */
.podcasts {
  padding: 96px 0;
  background-color: var(--optional_color);
}

.podcasts__inner {
  display: flex;
  flex-direction: column;
}

.podcasts__heading {
  margin-bottom: 28px;
}

.podcasts__list {
  margin-bottom: 60px;
}

.podcasts__item:nth-last-child(n+3) {
  margin-bottom: var(--gutter);
}

.podcasts__btn {
  align-self: center;
}

/* broadcasts */
.broadcasts {
  padding: 94px 0;
}

.broadcasts__inner {
  flex-wrap: nowrap;
}

.broadcasts__list {
  position: relative;
  padding-top: 12px;
  z-index: 99;
}

.broadcasts__item:nth-last-child(n+4) {
  margin-bottom: var(--gutter);
}

.broadcasts__heading {
  margin-bottom: 10px;
}

.broadcasts__filter {
  margin-bottom: 246px; /* 227px */
}

/* Archive */
.archive__descr {
  max-height: 30vh;
  margin: 0;
  margin-top: 12px;
  line-height: 1.5;
  overflow-y: auto;
}

.archive__btn {
  width: 160px;
  margin-top: 24px;
  padding: 8px;
  font-size: 16px;
}

.archive__cover {
  height: 90px;
  background: url('../img/microphone-small.png') no-repeat left / contain ;
}

.archive_mobile {
  display: none;
}

/* guests */
.guests {
  padding: 94px 0;
  color: var(--backdrop_color);
  background-color: var(--base_color);
}

.guests__heading {
  margin-bottom: 12px;
}

.guests__descr {
  display: flex;
  flex-direction: column;
  max-width: 825px;
  margin: 0;
  margin-bottom: 50px;
}

.guests__descr-title {
  margin-bottom: 7px;
}

.guests__category-item:not(:first-child) {
  margin-top: -1px;
}

.guests__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.guests__item {
  flex: 0 0 170px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.guests__item:nth-child(4n) {
  margin-right: 0;
}

.guests__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.guests__link {
  color: var(--backdrop_color);
}


.guests__img {
  margin-bottom: 8px;
}

.guests__social {
  min-width: 38%;
  margin-bottom: 13px;
  padding: 2px;
}

.guests__name {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 20px;
}

.guests__bio {
  margin: 0;
  margin-bottom: 28px;
  line-height: 1.8;
  color: var(--description_color);
}

.guests__more-btn {
  min-width: 160px;
}

/* Playlists */
.playlists {
  padding: 94px 0;
}

.playlists__heading {
  margin-bottom: 12px;
}

.playlists__list {
  padding-top: 14px;
}

.playlists__item:nth-last-child(n+5) {
  margin-bottom: var(--gutter);
}

.playlists__filter {
  margin-bottom: 20px;
}

.playlists__warning_mobile {
  display: none;
}
/* Promo */
.promo {
  padding: 94px 0 133px;
  color: var(--backdrop_color);
  background-color: var(--base_color_light);
}

.promo__img {
  width: 100%;
  height: 100%;
  background: url('../img/radio.png') no-repeat center / contain;
}

.promo__content {
  display: flex;
  flex-direction: column;
}

.promo__heading {
  position: relative;
  margin-bottom: 49px;
  color: var(--promo_color);
}

.promo__heading::before {
  position: absolute;
  height: 10px;
  left: 0;
  right: 0;
  bottom: -29px;
  content: '';
  background: url('../img/svg/wave-line.svg') no-repeat center;
}

.promo__descr {
  margin: 0;
  line-height: 1.8;
}

.promo__descr:not(:last-of-type) {
  margin-bottom: 13px;
}

.promo__descr:last-of-type {
  margin-bottom: 30px;
}

.promo__price {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
}

.promo__price::after {
  content: ' \20BD';
}

.promo__btn {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 300px;
  border-color: var(--promo_color);
  color: var(--promo_color);
  background-color: transparent;
}

.promo__btn:hover {
  border-color: var(--promo_color);
  color: var(--base_color);
  background-color: var(--promo_color);
}

.promo__btn:focus {
  border-color: var(--promo_color);
  color: var(--base_color);
  background-color: var(--promo_color_accent);
}

.promo__btn:active {
  border-color: var(--promo_color_accent);
  color: var(--base_color);
  background-color: var(--promo_color_accent);
}

.promo__btn .ya-img {
  margin-right: 6px;
  transform: translateY(-2px);
}

.promo__btn .ya-img__circle {
  fill: var(--promo_color);
  transition: fill 200ms linear;
}

.promo__btn .ya-img__line {
  fill: var(--base_color);
  transition: fill 200ms linear;
}

.promo__btn:hover .ya-img__circle {
  fill: var(--base_color);
}

.promo__btn:hover .ya-img__line {
  fill: var(--promo_color);
}

.promo__btn:focus .ya-img__circle {
  fill: var(--promo_color);
}

.promo__btn:focus .ya-img__line {
  fill: var(--base_color);
}

.promo__btn:active .ya-img__circle {
  fill: var(--base_color);
}

.promo__btn:active .ya-img__line {
  fill: var(--promo_color_accent);
}

/* About-us */
.about-us {
  padding: 94px 0;
  background-color: var(--base_color);
}

.about-us__entity:not(:last-child) {
  margin-bottom: 29px;
}

.about-us__img {
  width: 100%;
  height: 100%;
  background: url('../img/svg/spiral.svg') no-repeat top left, url('../img/svg/dawn.svg') no-repeat right center;
}

.about-us__heading {
  margin-bottom: 12px;
  color: var(--backdrop_color);
}

.about-us__descr:not(:last-of-type) {
  margin-bottom: 7px;
}

/* carousel */
.carousel {
  position: relative;
}

.carousel__btn {
  position: absolute;
  top: 30%;
}

.carousel__btn_left {
  transform: rotate(90deg);
  left: -61px;
}

.carousel__btn_right {
  transform: rotate(-90deg);
  right: -61px;
}


/* Form */
.form {
  color: var(--backdrop_color);
}
.form__field {
  width: 100%;
  font-family: 'Muller', sans-serif;
  font-size: 20px;
  line-height: 1;
  color: inherit;
  border: 1px solid var(--description_color);
  background-color: transparent;
}

.form__field_text {
  padding: 25px 32px;
  border-radius: 40px;
}

.form__field_area {
  height: 151px;
  padding: 30px 32px;
  border-radius: 30px;
  resize: none;
}


.form__field:hover {
  background-color: var(--base_color_light);
}

.form__field:focus {
  border-color: var(--responsive_color_shade);
  background-color: var(--base_color_light);
}

.form__field:active {
  border-color: var(--backdrop_color);
  background-color: transparent;
}

.form__field::placeholder {
  color: var(--description_color);
}

.form__field_alarm {
  border-color:var(--alarm_color);
} 

.form__alarm {
  position: absolute;
  top: 7px;
  left: 30px;
  display: none;
  font-size: 12px;
  color: var(--alarm_color);
}

.form__entity:not(:last-child) {
  position: relative;
  color: var(--backdrop_color);
  margin-bottom: 28px;
}

.form__assent {
  padding-left: 22px;
  font-weight: 500;
  font-size: 12px;
}



/* Checkbox */
.checkbox {
  position: relative;
  cursor: pointer;
}

.checkbox:hover .checkbox__text,
.checkbox__entity:focus+.checkbox__text {
  text-decoration: underline;
}

.checkbox__text::before {
  position: absolute;
  left: 15px;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--backdrop_color);
  content: '';
}

.checkbox__entity:checked+.checkbox__text::before {
  background: url('../img/svg/bird.svg') no-repeat center;
}

.footer {
  padding-top: 92px;
  color: var(--backdrop_color);
  background-color: var(--base_color_light);
}

.footer__top {
  position: relative;
  margin-bottom: 105px;
}

.footer__top::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -104px;
  height: 12px;
  content: '';
  background: url('../img/svg/long-wawe.svg') center;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  margin-bottom: 18px;
}

.footer__social {
  min-width: 70%;
}

.footer__right {
  flex: 0 1 450px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
}

.footer__item:nth-child(3n+1) {
  flex: 0 0 170px;
}

.footer__item:nth-child(3n+2) {
  flex: 0 0 180px;
}

.footer__item:nth-child(3n) {
  flex: 0 0 75px;
}

.footer__item:not(:nth-child(3n)) {
  margin-right: 15px;;
}

.footer__item:nth-last-child(n+4) {
  margin-bottom: 20px;
}

/* Social */
.social {
  display: inline-flex;
  justify-content: space-between;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

/* Logo */
.logo {
  display: inline-block;
  transition: transform 200ms linear;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:focus {
  outline: 2px solid var(--responsive_color_shade);
  outline-offset: 7px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.copyright {
  font-size: 16px;
  color: var(--description_color);
}

/* other */
.bird {
  transform: scale(1.1);
}