:root {
  /* colors vaiables */
  --base_color: #121723;
  --base_color_light: #292E39;
  --backdrop_color: #FFFFFF;
  --description_color: #A1A6B4;
  --optional_color: #E6E8EC;
  --optional_color_shade: #F5F6F7;
  --responsive_color: #6D31EE;
  --responsive_color_shade: #AA9DFA;
  --responsive_color_shade_2: #D2D5DD;
  --responsive_color_accent: #4F28A5;
  --alarm_color: #D52B1E;
  --promo_color: #F0D288;
  --promo_color_accent: #BB973E;

  /* sizes variables */
  --base_font-size: 16px;
  --erlanged_font-size: 20px;
  --small_font-size: 12px;
  --title_font-size: 48px;

  /* for grid */
  --container: 1140px;
  --container-padding: 15px;
  --columns: 12;
  --gutter: 30px;
  --cell-basis-1: calc(100% / var(--columns));
  --cell-basis-2: calc(100% / var(--columns) * 2);
  --cell-basis-3: calc(100% / var(--columns) * 3);
  --cell-basis-4: calc(100% / var(--columns) * 4);
  --cell-basis-5: calc(100% / var(--columns) * 5);
  --cell-basis-6: calc(100% / var(--columns) * 6);
  --cell-basis-7: calc(100% / var(--columns) * 7);
  --cell-basis-8: calc(100% / var(--columns) * 8);
  --cell-basis-9: calc(100% / var(--columns) * 9);
  --cell-basis-10: calc(100% / var(--columns) * 10);
  --cell-basis-11: calc(100% / var(--columns) * 11);
  --cell-basis-12: calc(100% / var(--columns) * 12);

  /* base-style */
  font-family: 'Muller', sans-serif;
  font-size: var(--base_font-size);
  line-height: 1;
  color: var(--base_color);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

img {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* titles */
.main-title {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
}

.main-title__brand {
  font-weight: normal;
  font-style: italic;
}

.title {
  margin: 0;
  font-weight: normal;
  font-size: var(--title_font-size);
  line-height: 1;
}

.subtitle {
  margin: 0;
  font-weight: normal;
  font-size: var(--erlanged_font-size);
}

.subtitle--bold {
  font-weight: 500;
}

/* Text */
.text {
  margin: 0;
  font-size: var(--base_font-size);
  color: var(--description_color);
}

.text--small {
  font-size: var(--small_font-size);
}

.text--bold {
  font-weight: 500;
}

.text--italic {
  font-style: italic;
}

.text--dark {
  color: var(--base_color);
}

.text--thin {
  line-height: 1.5;
}

/* Section */
.section {
  padding: 94px 0;
}

.section--negative {
  color: var(--backdrop_color);
  background-color: var(--base_color);
}

.section__text {
  font-size: var(--erlanged_font-size);
  line-height: 1.6;
}

/* Grid */
.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gutter) / 2 * -1);
}

.grid__cell {
  flex-grow: 0;
  padding: 0 calc(var(--gutter) / 2);
}

/* Buttons */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 22px 51px;
  border: 3px solid currentColor;
  border-radius: 40px;
  font-weight: 500;
  font-size: var(--erlanged_font-size);
  color: var(--responsive_color);
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 200ms linear, background-color 200ms linear, border-color 200ms linear;
}

.btn--small {
  min-height: 40px;
  min-width: 104px;
  padding: 8px 17px;
  border-width: 2px;
  border-radius: 77px;
  font-size: var(--base_font-size);
}

.btn--colored {
  border-color: var(--responsive_color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color);
}

.btn--monochrome {
  color: var(--base_color);
}

.btn--light {
  color: var(--responsive_color_shade);
}

.btn:focus {
  border-color: var(--responsive_color);
  background-color: var(--responsive_color_shade);
  color: var(--backdrop_color);
}

.btn--monochrome:focus {
  border-color: var(--base_color);
  color: var(--base_color);
}

.btn--light:focus {
  border-color: var(--responsive_color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color);
}

.btn:hover {
  border-color: var(--responsive_color);
  color: var(--backdrop_color);
  background-color: var(--responsive_color);
}

.btn--colored:hover {
  border-color: var(--responsive_color_shade);
  background-color: var(--responsive_color_shade);
}

.btn--monochrome:hover {
  border-color: var(--base_color);
  background-color: var(--base_color);
  color: var(--backdrop_color);
}

.btn--light:hover {
  border-color: var(--responsive_color_shade);
  color: var(--backdrop_color);
  background-color: var(--responsive_color_shade);
}

.btn:active {
  border-color: var(--responsive_color_accent);
  background-color: var(--responsive_color_accent);
  color: var(--backdrop_color);
}

.btn__inner {
  display: flex;
}

.btn__icon {
  margin-right: 6px;
}

.btn__icon--archive {
  stroke: currentColor;
}

/* Icon buttons */
.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  color: var(--description_color);
  background-color: transparent;
  cursor: pointer;
  transition: color 200ms linear, background-color 200ms linear, border-color 200ms linear;
  fill: currentColor;
}

.icon--stroke {
  fill: none;
  stroke: currentColor;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon--small {
  width: 15px;
  height: 15px;
}

.icon--middle {
  width: 20px;
  height: 20px;
}

.icon--big {
  padding: 11px;
  border: 2px solid currentColor;
  border-radius: 100%;
  width: 42px;
  height: 42px;
}

.icon:focus {
  color: var(--responsive_color_shade);
}

.icon:hover {
  color: var(--responsive_color);
}

.icon--dark-bg:focus {
  color: var(--description_color);
  background-color: var(--responsive_color);
}

.icon--dark-bg:hover {
  color: var(--responsive_color_shade);
}

.icon:active {
  color: var(--responsive_color_accent);
}

.icon--dark-bg:active {
  border-color: var(--responsive_color_shade);
  color: var(--backdrop_color);
  background-color: var(--responsive_color_shade);
}

/* Links */
.link {
  display: inline-block;
  margin: 0 -5px;
  padding: 3px 5px 1px;
  border: none;
  text-decoration: none;
  color: inherit;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  transition: color 200ms linear, background-color 200ms linear;
  fill: currentColor;
}

.link--inline {
  position: relative;
  padding: 3px;
  color: var(--responsive_color);
}

.link--inline::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  content: '';
  background-color: var(--responsive_color);
  transform: scaleX(0);
  transform-origin: 100%;
  transition: transform 300ms ease-in-out;
}

.link:hover {
  color: var(--responsive_color);
}

.link--inline:hover::before {
  transform-origin: 0;
  transform: scaleX(1);
}

.link:focus {
  color: var(--backdrop_color);
  background-color: var(--responsive_color_shade);
}

.link:active {
  color: var(--responsive_color_accent);
  background-color: transparent;
}

.link--inline:active::before {
  background-color: var(--responsive_color_accent);
  transform-origin: 0;
  transform: scaleX(1);
}

.link--italic {
  font-style: italic;
}

.link__icon {
  position: relative;
}

.link__icon--arrow {
  right: 4px;
  top: 2px;
  transform-origin: left;
  transition: transform linear 200ms;
}

.link:hover .link__icon--arrow,
.link:active .link__icon--arrow:active {
  transform: scaleX(1.2);
}

/* Radio buttons */
.radio-btn {
  position: relative;
  cursor: pointer;
}

.radio-btn__descr {
  display: flex;
  align-items: center;
  padding-left: 39px;
  font-size: var(--erlanged_font-size);
}

.radio-btn__descr::before {
  position: absolute;
  left: 0;
  top: -3px;
  width: 26px;
  height: 26px;
  margin-right: 13px;
  border: 1px solid var(--description_color);
  border-radius: 50%;
  content: '';
  transform: translateY(-2px);
}

.radio-btn__descr:hover::before {
  border-color: var(--responsive_color);
}

.radio-btn__entity {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-btn__entity:focus+.radio-btn__descr::before {
  border-color: var(--responsive_color);
  background-color: var(--responsive_color_shade_2);
}

.radio-btn__entity:checked+.radio-btn__descr::before {
  border: 8px solid var(--responsive_color);
  background-color: transparent;
}

/* Burger */
.burger {
  display: none;
  padding: 5px;
  height: 34px;
  width: 34px;
  margin-left: -5px;
  margin-right: auto;
  border: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  display: inline-block;
  height: 3px;
  width: 100%;
  background-color: var(--responsive_color);
  border-radius: 4px;
}

/* Checkbox */
.checkbox {
  position: relative;
  cursor: pointer;
}

.checkbox:hover .checkbox__text,
.checkbox__entity:focus+.checkbox__text {
  text-decoration: underline;
}

.checkbox__text::before {
  position: absolute;
  left: 15px;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--backdrop_color);
  content: '';
}

.checkbox__entity:checked+.checkbox__text::before {
  background: url('../img/svg/bird.svg') no-repeat center;
}

/* Social */
.social {
  display: inline-flex;
  justify-content: space-between;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

/* Logo */
.logo {
  display: inline-block;
  transition: transform 200ms linear;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:focus {
  outline: 2px solid var(--responsive_color_shade);
  outline-offset: 7px;
}

/* Navigations */
.nav {
  flex: 0 1 648px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  padding: 4px 10px;
  font-size: var(--erlanged_font-size);
}

/* Search */
.search {
  display: inline-flex;
}

.search__field {
  display: none;
  width: 278px;
  padding: 3px 0;
  border: none;
  border-bottom: 1px solid var(--responsive_color);
}

.search__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  stroke: var(--responsive_color);
  transition: stroke 200ms linear;
}

.search__btn:hover *,
.search__btn:focus * {
  stroke: var(--responsive_color_shade);
}

.search__btn:active * {
  stroke: var(--responsive_color_accent);
}

.search--open .search__field {
  display: block;
}

/* Playbar */
.playbar {
  padding: 9px 0;
}

.playbar__top {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}

.playbar__open-btn {
  margin-right: 5px;
  padding: 3px;
  background-color: var(--responsive_color);
  border-radius: 50%;
  transform: rotate(45deg);
}

.playbar__title {
  color: var(--responsive_color);
}

.playbar__list {
  display: flex;
}

.playbar__item {
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 42px;
}

.playbar__item {
  position: relative;
  border-left: 1px solid var(--responsive_color_shade_2);
  margin-right: 6px;
}

.playbar__item:last-child {
  border-right: 1px solid var(--responsive_color_shade_2);
  margin-right: 0;
}

.playbar__play-btn {
  align-self: center;
  margin-right: 10px;
}

.playbar__play-btn::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.playbar__descr {
  margin-bottom: 6px;
}

/* Soundbar */
.soundbar {
  position: relative;
  height: 100%;
  display: flex;
  background-color: var(--backdrop_color);
}

.soundbar__cover {
  flex: 0 0 112px;
  min-height: 140px;
  background: var(--base_color_light) no-repeat center / cover;
}

.soundbar__inner {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.soundbar__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: auto;
  padding: 24px 30px 23px;
}

.soundbar__info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.soundbar__length {
  margin-bottom: 8px;
  order: -1;
}

.soundbar__title {
  margin-bottom: 5px;
}

.soundbar__date {
  position: absolute;
  max-width: 80px;
  max-height: 50%;
  left: 0;
  bottom: 0;
  font-size: 10px;
  padding: 3px 6px;
  background-color: var(--optional_color);
  overflow: hidden;
}

.soundbar__btn {
  flex: 0 0 42px;
  align-self: center;
}

.soundbar__btn::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.soundbar__action-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 30px;
  border-top: 1px solid var(--optional_color);
}

.soundbar__action:not(:last-child) {
  margin-right: 35px;
}

/* Card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 19px 15px;
  border: 1px solid var(--optional_color);
}


.card__link {
  margin-left: -4px;
  margin-top: auto;
  align-self: start;
  order: 1;
}

.card__link::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 100;
}

.card__link:focus::before {
  background-color: transparent;
  outline: 1px solid var(--responsive_color);
  outline-offset: 6px;
}

.card__cover {
  position: relative;
  margin: -20px -16px 20px;
  border-bottom: 1px solid var(--optional_color);
  min-height: 148px;
  background-color: var(--base_color);
  font-size: 0;
  line-height: 0;
}


.card__cover::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: var(--backdrop_color);
  opacity: 0;
  transition: opacity 200ms linear;
}

.card__link:hover + .card__cover::before {
  opacity: 0.3;
}

.card__img {
  height: 100%;
  font-size: var(--base_font-size);
  line-height: 1;
  color: var(--backdrop_color);
  object-fit: cover;
}

.card__title {
  margin-bottom: 3px;
}

.card__descr {
  margin-bottom: 16px;
}

/* Playlist-card */
.playlist-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.playlist-card__link::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.playlist-card__cover {
  position: relative;
  font-size: 0;
  line-height: 0;
  background-color: var(--base_color);
}

.playlist-card__cover::after,
.playlist-card__cover::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  transition: opacity 200ms linear;
}

.playlist-card__cover::before {
  background: url('../img/svg/play-full.svg') center no-repeat;
  z-index: 100;
}

.playlist-card__link:hover .playlist-card__cover::before,
.playlist-card__link:focus .playlist-card__cover::before {
  opacity: 1;
}

.playlist-card__cover::after {
  background-color: var(--base_color);
  z-index: 99;
}

.playlist-card__link:hover .playlist-card__cover::after,
.playlist-card__link:focus .playlist-card__cover::after {
  opacity: 0.8;
}

.playlist-card__img {
  position: relative;
  display: inline-block;
  height: 160px;
  font-size: var(--base_font-size);
  line-height: 1;
  color: var(--backdrop_color);
  object-fit: cover;
}

.playlist-card__bottom {
  flex: 1 1 auto;
  padding: 15px;
  border: 1px solid var(--optional_color);
  transition: background-color 200ms linear, border-color 200ms linear;
}

.playlist-card__link:hover+.playlist-card__bottom {
  border-color: var(--responsive_color);
  background-color: var(--responsive_color);
}

.playlist-card__link:focus+.playlist-card__bottom {
  border-color: var(--responsive_color_shade);
  background-color: var(--responsive_color_shade);
}

.playlist-card__link:active+.playlist-card__bottom {
  border-color: var(--responsive_color_accent);
  background-color: var(--responsive_color_accent);
}

.playlist-card__title {
  margin-bottom: 4px;
  font-weight: 500;
  transition: color 200ms linear;
}

.playlist-card__descr {
  transition: color 200ms linear;
}

.playlist-card__link:hover+.playlist-card__bottom .playlist-card__title,
.playlist-card__link:hover+.playlist-card__bottom .playlist-card__descr {
  color: var(--backdrop_color);
}

.playlist-card__link:focus+.playlist-card__bottom .playlist-card__title,
.playlist-card__link:focus+.playlist-card__bottom .playlist-card__descr {
  color: var(--base_color);
}

.playlist-card__link:active+.playlist-card__bottom .playlist-card__title,
.playlist-card__link:active+.playlist-card__bottom .playlist-card__descr {
  color: var(--backdrop_color);
}

.playlist-card__country {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  background-color: var(--base_color);
}

/* Guest-card */
.guest-card {
  position: relative;
  margin: 0;
}

.guest-card__img {
  margin-bottom: 24px;
}

.guest-card__title {
  margin-bottom: 5px;
  color: var(--backdrop_color);
}

.guest-card__link:focus {
  background-color: transparent;
}

.guest-card__link::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.guest-card__link:focus::before {
  outline: 1px solid var(--responsive_color_shade);
  outline-offset: 6px;
}

.guest-card__descr {
  margin: 0;
  line-height: 1.5;
  color: var(--description_color);
}

/* Filter */
.filter__inner {
  display: flex;
  flex-direction: column;
}

.filter__name {
  margin: 0;
  margin-bottom: 11px;
  font-weight: normal;
  font-size: var(--base_font-size);
  color: var(--description_color);
}

.filter__group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__list {
  padding: 3px;
}

.filter__item:not(:last-child) {
  margin-bottom: 20px;
}

/* Accordion */
.accordion__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
  border-top: 1px solid var(--description_color);
  border-bottom: 1px solid var(--description_color);
}

.accordion__panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.js-enabled .accordion__panel {
  visibility: hidden;
}

.is-active .accordion__panel {
  visibility: visible;
}

.accordion__trigger::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.accordion__trigger svg {
  transition: transform 400ms linear;
}

.is-active .accordion__trigger svg {
  transform: rotate(180deg);
}


/* Carousel */
.carousel {
  position: relative;
}

.carousel__btn {
  position: absolute;
  top: 30%;
}

.carousel__btn--left {
  transform: rotate(90deg);
  left: -61px;
}

.carousel__btn--right {
  transform: rotate(-90deg);
  right: -61px;
}

/* Country */
.country {
  height: 12px;
  width: 16px;
}

.country--rus {
  background: url('../img/svg/rus.svg') no-repeat center / contain;
}

.country--gbr {
  background: url('../img/svg/gbr.svg') no-repeat center / contain;
}

.country--usa {
  background: url('../img/svg/usa.svg') no-repeat center / contain;
}

/* Warning */
.warning {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--responsive_color_shade_2);
  padding: 38px 0;
}

.warning__text {
  line-height: 22px;
}

.warning__copy {
  margin-bottom: 6px;
}

.warning__age-restrict {
  width: 30px;
  height: 30px;
  padding: 7px 5px;
  font-size: var(--small_font-size);
  line-height: 16px;
  border: 1px solid var(--description_color);
  border-radius: 100px;
  overflow: hidden;
}

/* Action */
.action__count {
  transition: color 200ms linear;
}

.action__btn {
  position: relative;
  padding: 3px 2px 0 22px;
  color: var(--description_color);
}

.action__btn:hover {
  color: var(--responsive_color);
}

.action__btn:focus {
  background-color: var(--responsive_color_shade);
  color: var(--backdrop_color);
}

.action__btn:active {
  background-color: inherit;
  color: var(--responsive_color_accent);
}

.action__btn::before,
.action__icon
 {
  position: absolute;
  left: 2px;
  top: 3px;
  width: 13px;
  height: 13px;
  content: '';
  background: transparent center no-repeat;
}

.action__btn:active .action__icon {
  display: none;
}

.action__btn--play:active:before {
  background-image: url('../img/svg/play-action-dark.svg');
}

.action__btn--like:active::before {
  background-image: url('../img/svg/like-dark.svg');
}

.action__btn--share:active::before {
  background-image: url('../img/svg/share-dark.svg');
}

/* Form */
.form__area-label {
  flex-basis: var(--cell-basis-12);
}

.form__submit-wrapper {
  flex-basis: var(--cell-basis-2);
}

.form__field-label {
  flex-basis: var(--cell-basis-6);
}

.form__checkbox-label {
  flex-basis: var(--cell-basis-12);
}

.form__field {
  width: 100%;
  font-family: 'Muller', sans-serif;
  font-size: var(--erlanged_font-size);
  line-height: 1;
  color: inherit;
  border: 1px solid var(--description_color);
  background-color: transparent;
}

.form__field--text {
  padding: 25px 32px;
  border-radius: 40px;
}

.form__field--area {
  height: 151px;
  padding: 30px 32px;
  border-radius: 30px;
  resize: none;
}

.form__field:hover {
  background-color: var(--base_color_light);
}

.form__field:focus {
  border-color: var(--responsive_color_shade);
  background-color: var(--base_color_light);
}

.form__field:active {
  border-color: var(--backdrop_color);
  background-color: transparent;
}

.form__field::placeholder {
  color: var(--description_color);
}

.form__field--alarm {
  border-color:var(--alarm_color);
}

.form__alarm {
  position: absolute;
  top: 7px;
  left: 30px;
  display: none;
  font-size: var(--small_font-size);
  color: var(--alarm_color);
}

.form__entity:not(:last-child) {
  position: relative;
  color: var(--backdrop_color);
  margin-bottom: 26px;
}

.form__assent {
  padding-left: 22px;
  font-weight: 500;
  font-size: var(--small_font-size);
}

/* Header */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 18px;
}


.header__logo {
  flex: 0 0 160px;
  margin-right: 74px;
}


.header__nav {
  margin-right: auto;
}

.header__search {
  margin-right: 24px;
}

.header__login-btn {
  min-width: 104px;
}

.header__bottom-wpapper {
  border-top: 1px solid var(--optional_color);
  border-bottom: 1px solid var(--optional_color);
}

.header__bottom {
  display: flex;
  align-items: center;
}

.header__link-list {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  margin-right: 52px;
}

.header__playbar {
  margin-right: 52px;
}

.age-restriction {
  padding: 8px;
  align-self: stretch;
  background-color: var(--optional_color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.age-restriction__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-family: 'Open sans', sans-serif;
  font-size: var(--small_font-size);
  color: var(--optional_color);
  border-radius: 100px;
  background-color: var(--backdrop_color);
}

/* Hero section */
.hero {
  padding: 30px 0 40px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__inner {
  flex: 0 1 630px;
  margin-right: 10px;
  padding-top: 66px;
  padding-bottom: 54px;
}

.hero__img {
  flex: 0 1 354px;
  background: transparent url('../img/microphone.png') no-repeat center / contain;
}

.hero__title {
  margin-bottom: 14px;
}

.hero__descr {
  margin: 0;
  line-height: 1.5;
  margin-bottom: 44px;
}

/* Podacsts section */
.podcasts {
  background-color: var(--optional_color);
}

.podcasts__inner {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
}

.podcasts__title {
  margin-bottom: 28px;
}

.podcasts__list {
  margin-bottom: 60px;
}

.podcasts__item {
  flex-basis: var(--cell-basis-6);
}

.podcasts__item:nth-child(n+3) {
  margin-top: var(--gutter);
}

.podcasts__btn {
  align-self: center;
}

/* Broadcasts section */
.broadcasts__left {
  flex-basis: var(--cell-basis-3);
}

.broadcasts__right {
  flex-basis: var(--cell-basis-9);
}

.broadcasts__inner {
  flex-wrap: nowrap;
}

.broadcasts__list {
  position: relative;
  padding-top: 14px;
  z-index: 99;
}

.broadcasts__item {
  flex-basis: var(--cell-basis-4);
}

.broadcasts__item:nth-child(n+4) {
  margin-top: var(--gutter);
}

.broadcasts__title {
  margin-bottom: 10px;
}

.broadcasts__filter {
  margin-bottom: 224px; /* 227px */
}

/* Archive */
.archive--768 {
  display: none;
}

.archive__descr {
  margin: 0;
  margin-top: 12px;
}

.archive__btn {
  width: 160px;
  margin-top: 24px;
  padding: 8px;
}

.archive__cover {
  height: 90px;
  background: url('../img/microphone-small.png') no-repeat left / contain ;
}

/* guests */
.guests__title {
  margin-bottom: 12px;
}

.guests__descr {
  display: flex;
  flex-direction: column;
  flex-basis: var(--cell-basis-12);
  max-width: 825px;
  margin: 0;
  margin-bottom: 48px;
}

.guests__descr-title {
  margin-bottom: 7px;
}

.guest__category-list {
  flex-basis: var(--cell-basis-8);
}

.guests__category-item:not(:first-child) {
  margin-top: -1px;
}

.guests__list {
  padding: 26px 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.guests__item {
  flex-basis: var(--cell-basis-3);
}

.guests__item:not(:nth-last-child(-n+4)) {
  margin-bottom: 12px;
}

.guests__card {
  flex-basis: var(--cell-basis-4);
}

.guests__link {
  display: inline-block;
  color: var(--backdrop_color);
}


.guests__img {
  margin-bottom: 5px;
}

.guests__social {
  min-width: 132px;
  margin-bottom: 10px;
  padding: 2px;
}

.guests__name {
  margin: 0;
  margin-bottom: 9px;
}

.guests__bio {
  margin: 0;
  margin-bottom: 28px;
  line-height: 1.8;
}

.guests__more-btn {
  min-width: 160px;
}

/* Playlists */

.playlists__title {
  margin-bottom: 12px;
}

.playlists__left {
  flex-basis: var(--cell-basis-4);
}

.playlists__right {
  flex-basis: var(--cell-basis-8);
}

.playlists__list {
  padding-top: 14px;
}

.playlists__item {
  flex-basis: var(--cell-basis-3);
}

.playlists__item:nth-child(n+5) {
  margin-top: var(--gutter);
}

.playlists__filter {
  margin-bottom: 20px;
}

/* Promo */
.promo {
  padding-bottom: 133px;
  background-color: var(--base_color_light);
}

.promo__cover {
  flex-basis: var(--cell-basis-7);
}

.promo__img {
  width: 100%;
  height: 100%;
  background: url('../img/promo/radio.png') no-repeat center / contain;
}

.promo__content {
  display: flex;
  flex-direction: column;
  flex-basis: var(--cell-basis-5);
}

.promo__title {
  position: relative;
  margin-bottom: 49px;
  color: var(--promo_color);
}

.promo__title::before {
  position: absolute;
  height: 12px;
  left: 0;
  right: 0;
  bottom: -29px;
  content: '';
  background: url('../img/svg/long-wawe.svg') no-repeat;
}

.promo__descr {
  margin: 0;
  line-height: 1.8;
}

.promo__descr:not(:last-of-type) {
  margin-bottom: 13px;
}

.promo__descr:last-of-type {
  margin-bottom: 30px;
}

.promo__price {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  color: var(--backdrop_color);
}

.promo__price::after {
  content: ' \20BD';
}

.promo__btn {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 300px;
  border-color: var(--promo_color);
  color: var(--promo_color);
  background-color: transparent;
}

.promo__btn:hover {
  border-color: var(--promo_color);
  color: var(--base_color);
  background-color: var(--promo_color);
}

.promo__btn:focus {
  border-color: var(--promo_color);
  color: var(--base_color);
  background-color: var(--promo_color_accent);
}

.promo__btn:active {
  border-color: var(--promo_color_accent);
  color: var(--base_color);
  background-color: var(--promo_color_accent);
}

.promo__btn .ya-img {
  margin-right: 6px;
  transform: translateY(-2px);
}

.promo__btn .ya-img__circle {
  fill: var(--promo_color);
  transition: fill 200ms linear;
}

.promo__btn .ya-img__line {
  fill: var(--base_color);
  transition: fill 200ms linear;
}

.promo__btn:hover .ya-img__circle {
  fill: var(--base_color);
}

.promo__btn:hover .ya-img__line {
  fill: var(--promo_color);
}

.promo__btn:focus .ya-img__circle {
  fill: var(--promo_color);
}

.promo__btn:focus .ya-img__line {
  fill: var(--base_color);
}

.promo__btn:active .ya-img__circle {
  fill: var(--base_color);
}

.promo__btn:active .ya-img__line {
  fill: var(--promo_color_accent);
}

/* About-us section */
.about-us {
  padding: 94px 0;
}

.about-us__entity:not(:last-child) {
  margin-bottom: 29px;
}

.about-us__info {
  flex-basis: var(--cell-basis-7);
}

.about-us__cover {
  flex-basis: var(--cell-basis-5);
}

.about-us__img {
  width: 100%;
  height: 100%;
  background: url('../img/svg/spiral.svg') no-repeat top left, url('../img/svg/dawn.svg') no-repeat right center;
}

.about-us__title {
  margin-bottom: 12px;
}

.about-us__descr:not(:last-of-type) {
  margin-bottom: 7px;
}

.about-us__form {
  flex-basis: var(--cell-basis-10);
}

/* Footer */
.footer {
  padding-top: 88px;
  color: var(--backdrop_color);
  background-color: var(--base_color_light);
}

.footer__top {
  position: relative;
  margin-bottom: 105px;
}

.footer__top::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -104px;
  height: 12px;
  content: '';
  background: url('../img/svg/long-wawe.svg') center;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;
}

.footer__logo {
  padding: 3px 0;
  margin-bottom: 15px;
}

.footer__social {
  min-width: 70%;
}

.footer__icon {
  color: var(--responsive_color_shade_2);
}

.footer__right {
  flex: 0 1 445px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
}

.footer__item:nth-child(3n+1) {
  flex: 0 0 146px;
}

.footer__item:nth-child(3n+2) {
  flex: 0 0 155px;
}

.footer__item:nth-child(3n) {
  flex: 0 0 65px;
}

.footer__item:not(:nth-child(3n)) {
  margin-right: 15px;;
}

.footer__item:nth-last-child(n+4) {
  margin-bottom: 16px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

/* other */
.bird {
  transform: scale(1.1);
}

.copyright {
  font-size: var(--base_font-size);
  color: var(--description_color);
}

.is-no-desktop {
  display: none;
}

.is-mobile {
  display: none;
}

.is-768 {
  display: none;
}

.is-768-only {
  display: none;
}

/* Custom select */
.select {
  position: relative;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  cursor: pointer;
}

.select.is-open {
  border-color: var(--optional_color_shade);
  border-radius: 10px 10px 0 0;
  overflow: visible;
}

.select::after {
  position: absolute;
  top: 50%;
  right: 17.5px;
  margin-top: -7.5px;
  width: 10px;
  height: 10px;
  border: none;
  content: url('../img/svg/arrow-small.svg');
  transition: transform 200ms linear;
}

.select.is-open::after {
  transform: rotate(180deg) translateY(-5px);
}

.select__inner {
  display: inline-block;
  min-height: 40px;
  width: 100%;
  padding: 7.5px;
  background-color: var(--optional_color);
  border: 1px solid var(--optional_color);
  border-radius: 10px;
  transition: background-color 200ms linear;
  vertical-align: top;
  overflow: hidden;
}

.select__inner:hover {
  background-color: var(--optional_color_shade);
  border-color: var(--optional_color_shade);
}

.is-open .select__inner {
  background-color: var(--responsive_color_shade_2);
  border-radius: 10px;
}

.is-focused .select__inner,
.is-open .select__inner {
  border-color: var(--responsive_color);
}

.select__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%;
}

.select__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.select__list--dropdown {
  position: absolute;
  top: 100%;
  background-color: var(--backdrop_color);
  border: 1px solid var(--description_color);
  visibility: hidden;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
  z-index: 199;
}

.select__list--dropdown.is-active {
  visibility: visible;
}

.select__list--dropdown .select__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.select__list--dropdown, .select__list[aria-expanded] {
  width: calc(100% + 2px);
  margin-top: 0;
  margin-left: -1px;
  border-top: none;
  border-color: var(--optional_color_shade);
  border-radius: 0 0 10px 10px;
}

.select__list--dropdown .select__item {
  position: relative;
  padding: 12px 13px;
}

.select__item:not(:last-child) {
  border-bottom: 1px solid var(--optional_color_shade);
}

.select__item--selectable {
  padding-right: 20px;
  transition: background-color 200ms linear;
  
}

.select__item--selectable.is-highlighted {
  background-color: var(--responsive_color_shade);
  color: var(--base_color);
}

.select__item--option {
  color: var(--description_color);
}

.select__item--option:hover {
  background-color: var(--optional_color_shade);
}

/* Swiper */
.carousel__wrapper {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}

.carousel__list {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.carousel__item {
  flex: 0 0 auto;
  position: relative;
  transition-property: transform;
}

.carousel__btn {
  z-index: 99;
}